<ion-content padding>
  <ion-list no-lines>
    <form [formGroup]="form" (ngSubmit)="createCar()">
      <ion-item>
        <ion-label>Brand</ion-label>
        <ion-select formControlName="brand_id" (ionChange)="updateModels($event)">
          <ion-option *ngFor="let brand of brands" value="{{brand.id}}">{{brand.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Model</ion-label>
        <ion-select formControlName="model_id">
            <ion-option *ngFor="let model of models" value="{{model.id}}">{{model.name}}</ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Chassi</ion-label>
        <ion-input type="text" formControlName="chassi_number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Plate</ion-label>
        <ion-input type="text" formControlName="plate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Release Year</ion-label>
        <ion-input type="text" formControlName="release_year"></ion-input>
      </ion-item>
      
      <button ion-button full type="submit" [disabled]="!form.valid">Create</button>
    </form>
  </ion-list>
</ion-content>   